#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("freedom.jpg") center/cover no-repeat border-box, #ff1b68;
  /* background-image: url("freedom.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

    background-origin: border-box;
    background-clip:  border-box; */
  /* background-image: linear-gradient(to left bottom, red, blue, green, yellow, #fa923f); */
  width: 100vw;
  height: 30vh;
  padding: 0.6rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) {
  #product-overview h1 {
    font-size: 3rem;
  }

  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background-color: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0.1rem;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
  min-width: 10.8rem;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 8px 0;
}

@media (min-width: 40rem) {
  .plan {
    width: 30%;
    margin: 0.5rem;
    min-width: 14rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan__list {
    width: 80%;
    margin: auto;
    /* text-align: center; */
    display: flex;
    justify-content: center ;
    align-items: center;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-feature__list {
  list-style: none;

}

.key-feature {
  width: 100%;
  
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  vertical-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 0.8rem;
}

@media (min-width: 40rem) {
  .key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }

  .key-feature__list {
    list-style-type: none;
    max-width: 60rem;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

.modal {
  position: fixed;
  opacity: 0;  
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 500ms ease-out;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

