* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}
/* 
html{
    /* height: 100%; */
/* } */

/* html{} */

html{
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    justify-items: stretch; 
    align-items: center;                      

    height: 100%;
    /* overflow: hidden; */
    /* height: 100%; */
}

main{
    /* grid-row: 2 / 3; */
    grid-area: main;
}

.backdrop{
    display: none;
    position: fixed;
    opacity: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.5s linear;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .main-header > div {
    display: inline-block;
    vertical-align: middle;
} */

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    /* display: inline-block;
    vertical-align: middle; */
}

.main-header__brand img{
    height: 2.5rem;
    vertical-align: middle;
}

.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: right;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta{
    animation: wiggle 400ms 100ms 8 ease-out none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a{
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 80%;
    height: 100%;
    list-style: none;
    margin: 0% auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }


.button{
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
 
}

.button:hover,
.button:active{
    background: white;
    color: #0e4f1f;
}

.button:focus-visible{
    outline: none;
}

.button[disabled]{
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #a1a1a1;

}

.main-footer{
    background: black;
    padding: 2rem;
    margin-top: 3rem;
    /* grid-row: 3 / 4; */
    grid-area: footer;
}

.main-footer_links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer_link{
    margin: 0 1rem;
}

.main-footer_link a{
    color: white;
    text-decoration: none;
}

.main-footer_link a:hover,
.main-footer_link a:active{
    color: #ccc;
}

.open{
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media(min-width:40rem){
     .main-nav{
        display: inline-block; 
    } 
    .main-footer_links{
        flex-direction: row;
        justify-content: center;

    }
    .toggle-button{
        display: none;
    }
}

@keyframes wiggle{
    0%{
        transform: rotateZ(0);
    }
    50%{
        transform: rotateZ(-10deg);
    }
    100%{
        transform: rotateZ(10deg);
    }
}


