.testimonial {
  font-size: 1.2rem;
}



.testimonial:first-of-type {
  margin-top: 6rem;
}

.testimonial__image-container {
  width: 100%;
  max-width: 580px;
  min-width: 350px;

  vertical-align: middle;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  transform: skew(20deg) ;
  overflow: hidden;


}

#customer-1:hover .testimonial__image-container{
  animation: flip-customer 0.5s ease-out forwards;
}

.testimonial__image {
  width: 100%;
  vertical-align: top;
  transform: skew(-20deg) scale(1.3);
}

.testimonial__info {
  text-align: right;
  padding: 0.9rem;
  /* display: inline-block; */

  width: 100%;
}

@media (min-width: 40rem) {
  .testimonial__info {
    display: inline-block;
    width: 30%;
  }
  .testimonial{
    margin: 3rem auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .testimonial__list {
    width: 80%;
    margin: auto;
  }
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
  vertical-align: middle;
}

.testimonial__name {
  margin: 0.2rem;
  color: #ff5454;
  font-size: 2rem;
}

.testimonial__subtitle {
  margin: 0;
  color: #ccc;
  font-size: 1.1rem;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2rem;
}

@keyframes flip-customer {
  0%{
    transform: rotateY(0) skew(0deg);
  }
  50%{
    transform: rotateY(160deg) skew(10deg);
  }
  100%{
    transform: rotateY(360deg) skew(20deg);
  }
}
